.custom-shape-divider-bottom-1639322762 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639322762 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.FormSection {
  width: 400px;
  margin:  auto;
}

.custom-shape-divider-bottom-1639581073 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1639581073 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 149px;
}

.custom-shape-divider-bottom-1639581073 .shape-fill {
  fill: #FFFFFF;
}

.active {
  color: white;
  background-color: #B1D0E0;
  padding: 8px;
  border-radius: 18px;
  text-decoration: none;

}

ul{
  list-style-type: none;
}
li{
  display: inline;
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
}

.unselect {
  text-decoration: none;
  color: white;
}
.me-auto{
  margin-top: 15px;
}
.card-body{
  /*background-color: #1A374D;*/
  color: black;
  text-decoration: none;
  /*font-style: oblique;*/
  font-weight: bold;
  font-size: 16px;
  border-bottom-style: none;
}
Card.Title{
  font-size: 16px;
}
#basic-addon1{
  background-color: #1A374D;
  border: none;
  color: white;
}
.cardContainer{
  /*border: #3c37f1 solid 2px;*/
  padding: 0;
}
.asd.card{
  border: #1A374D solid 2px;
  margin-bottom: 15px;
  margin-top: 15px;
}


.roboImage{
  width: 300px;
  position: relative;
  float: right;
  clear: both;
  margin-right: 20px;
}
.loremText{
  margin-left: 40px;
  margin-top: 50px;

}
.text-center{
  margin-top: 60px;
}

